/* Basic Style */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.label-block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.label-block img {
  width: 100%;
}

.label-block .more-informatrion {
  font-family: "fantasy", cursive;
}

@media (max-width:768px) {
  .label-block { 
    text-align: center;
  }
}

.main-block {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-input {
  display: flex;
}

#incomplete-tasks {
  margin: 0;
  padding: 0px;
}

#completed-tasks {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button{
  outline: none;
}

.button-style {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.button-style:hover {
  color: #3a3a3a;
}

/* Heading */

.title-h3,
.label-style [for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-style {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.input-style:focus {
  color: #333;
}

/* New Task */

.label-style[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

.input-style#new-task {
  width: 318px;
}

/* Task list */

.li-style {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-style > * {
  vertical-align: middle;
}

.li-style > .input-style[type="checkbox"] {
  margin: 0 10px;
}

.li-style > .label-style {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  flex-grow: 1;
}

.li-style > .input-style[type="text"] {
  width: 226px;
  flex-grow: 1;
}

.button-style.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button-style.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */

ul#completed-tasks .label-style {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.ul-style .li-style .input-style[type="text"] {
  display: none;
}

.ul-style .li-style.edit-mode .input-style[type="text"] {
  display: inline-block;
  width: 224px;
}

.ul-style li.edit-mode .label-style {
  display: none;
}